.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.board {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.column {
  flex: 1;
  background: #f5f5f5;
  padding: 15px;
  border-radius: 10px;
  min-height: 500px;
}

.edit-btn{
  width: fit-content;
}

mat-card {
  margin-bottom: 15px;
  padding: 10px;
  cursor: pointer;
}

.edit-icon{
  align-self: flex-end;
  font-size: 15px;
}

.flex{
  display: flex;
  justify-content: space-between;
}

.todoStatus{
  background-color: rgb(225, 29, 29);
  padding:0 2px;
  border-radius:20% ;
}

.progressStatus{
  background-color: orangered;
  padding:0 2px;
  border-radius:4px ;
}

.completeStatus{
  background-color: rgb(45, 159, 45);
  padding:0 2px;
  border-radius:5px ;
}