.login-form{
    min-height: 100vh;
    position: relative;
}
form{
    margin-top: -10px;
}

.welcome-back{
    font-size:26px;
    font-weight: bolder;
    margin-bottom: 15px;
    align-self: self-start;
}
.enter-credential{
    margin-bottom:50px ;
}

.mat-error{
    margin-top: -15px;
}
mat-form-field{
    width: 40vw;
}
.forget-password{
    color: blue;
}
.radio{
    align-self: self-start;
    margin-top: -5px;
}
.agree{
    padding-top: 15px;
}
.submit-btn{
    width: 100%;
    border-radius: 50px;
    padding: 25px 0;
}
.sign-in-other-way{
    width: 40vw;
}
::ng-deep mat-form-field {
    .mdc-text-field--outlined {
      --mdc-outlined-text-field-container-shape: 32px !important;
    --mdc-outlined-text-field-focus-outline-width: 2px;
    }
} 
